
.menu-section .carousel-item {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.menu-section .carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 26, 40, 0.66);
}

.menu-section .carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.menu-section .carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.menu-section .menu-wrapper .title {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 600;
}

.menu-section .menu-wrapper .main-categories a {
  color: #FFFFFF;
  background-color: #72869EA6;
  padding: 10px 30px 12px 30px;
  border-radius: 32px 32px 32px 32px;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;

  text-decoration: none;
}

.menu-section .menu-wrapper .sub-categories button > span {
  font-size: 14px;
  margin-right: 5px;
}
.menu-section .menu-wrapper .main-categories, .menu-section .menu-wrapper .sub-categories {
  column-gap: 5px;
}






.home-share-request .container {
  background-color: white;
  border: 1px solid #e3e5e5;
}

.home-share-request .upload-box {
  border: 2px dashed #6c757d;
  height: 150px;
  background-color: #f8f9fa;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.home-share-request .upload-box span {
  font-size: 16px;
  color: #6c757d;
  font-weight: 500;
}

.home-share-request .upload-box label {
  cursor: pointer;
}

.home-share-request .upload-box:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.home-share-request button {
  background-color: #2F5E99;
  color: white;
}
