<mat-dialog-content>
<div class="house-detail">
  <div class="container mt-4">
    <div class="row">

      <div class="col-12 col-lg-8 mb-4">
        <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/206.jpg" class="d-block w-100" alt="Image 1" />
            </div>
            <div class="carousel-item">
              <img src="assets/img/008.jpg" class="d-block w-100" alt="Image 2" />
            </div>
            <div class="carousel-item">
              <img src="assets/img/205.jpg" class="d-block w-100" alt="Image 3" />
            </div>
          </div>
          <div class="row g-2 mt-2">
            <div class="col-4 col-sm-2">
              <img
                src="assets/img/008.jpg"
                class="img-thumbnail"
                alt="Thumbnail 1"
              />
            </div>
            <div class="col-4 col-sm-2">
              <img
                src="assets/img/008.jpg"
                class="img-thumbnail"
                alt="Thumbnail 2"
              />
            </div>
            <div class="col-4 col-sm-2">
              <img
                src="assets/img/008.jpg"
                class="img-thumbnail"
                alt="Thumbnail 3"
              />
            </div>
            <div class="col-4 col-sm-2">
              <img
                src="assets/img/008.jpg"
                class="img-thumbnail"
                alt="Thumbnail 4"
              />
            </div>
            <div class="col-4 col-sm-2">
              <img
                src="assets/img/008.jpg"
                class="img-thumbnail"
                alt="Thumbnail 5"
              />
            </div>      <div class="col-4 col-sm-2">
              <img
                src="assets/img/008.jpg"
                class="img-thumbnail"
                alt="Thumbnail 5"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#propertyCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#propertyCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="col-12 mt-4 house-detail-description">
          <h5>Description</h5>
          <p>
            Menzil Sumqayıt şəhəri, dəniz kənarı bulvarda yerləşir. Ümumi sahəsi: 58
            m². Otaq sayı: 2. Mərtəbə: 4. Menzil tam təmirlidir, qaz, su, işıq,
            kombi, kondisioner və mebellər ilə tam təchiz olunub. Ancaq ailələr
            verilir. Vasitəçilər narahat etməsin.
          </p>
        </div>

        <div class="col-12 mt-4 house-detail-info">
          <span>№ 43471230</span>
          <span>•</span>
          <span>Dünən, 19:40</span>
          <span>•</span>
          <span>Baxışların sayı: 1187</span>
        </div>
        </div>

      <!-- Right Section: Property Details -->
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">2-otaqlı yeni tikili</h5>
            <h6 class="card-subtitle mb-2 text-muted">Bulvar küç., 64 m²</h6>
            <p class="card-text">
              <strong>Price:</strong> 450 AZN<br />
              <strong>Contact:</strong> (055) 319-24-53<br />
              <strong>City:</strong> Sumqayıt<br />
              <strong>Area:</strong> 64 m²<br />
              <strong>Rooms:</strong> 2<br />
              <strong>Type:</strong> Yeni tikili
            </p>
            <div class="alert alert-success" role="alert">
              Alma istəyi
            </div>
            <input class="mt-3" type="text" placeholder="Ad">
            <input class="mt-2" type="text" placeholder="Soyad">
            <input class="mt-2" type="number" placeholder="Nömrə">
            <button class="btn w-100 mt-4">Alıram</button>
          </div>
        </div>
      </div>

    </div>

    <!-- Description Section -->
    <div class="row mt-4">

    </div>
  </div>

</div>
</mat-dialog-content>
